
# Created by https://www.gitignore.io/api/nuxt
# Edit at https://www.gitignore.io/?templates=nuxt

### Nuxt ###
# gitignore template for Nuxt.js projects
#
# Recommended template: Node.gitignore

# Nuxt build
.nuxt

 # Nuxt generate
dist

# End of https://www.gitignore.io/api/nuxt